@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* primary */
    --primary-25: #f5faff;
    --primary-50: #ecf3fe;
    --primary-100: #d9e7fd;
    --primary-200: #b3cefb;
    --primary-300: #8eb6f8;
    --primary-400: #689df6;
    --primary-500: #4285f4;
    --primary-600: #356ac3;
    --primary-700: #285092;
    --primary-800: #1a3562;
    --primary-900: #0d1b31;

    /* gray */
    --gray-25: #ffffff;
    --gray-50: #fefefe;
    --gray-100: #f8f8f8;
    --gray-200: #f2f2f2;
    --gray-300: #e4e4e4;
    --gray-400: #c0c0c0;
    --gray-500: #a2a2a2;
    --gray-600: #797979;
    --gray-700: #656565;
    --gray-800: #464646;
    --gray-900: #252525;

    /* secondary colors */
    --light: #ffffff;
    --dark: #070707;
    --error: #ea4335;
    --success: #34a853;
    --warning: #fbbc05;
  }
}

.test {
  border: 1px solid red;
}

.gradientOne {
  background: linear-gradient(
    242deg,
    #070707 5.78%,
    var(--primary-500) 138.66%,
    var(--primary-300) 271.69%
  );
}

.gradientOne:hover {
  background: linear-gradient(
    242deg,
    var(--primary-900) 5.78%,
    #070707 49.65%,
    var(--primary-500) 271.69%
  );
}

.div-glass {
  /* background-image: url("/assets/image.png"); The image used */
  background: linear-gradient(
    242deg,
    var(--primary-900) 5.78%,
    #070707 49.65%,
    var(--primary-500) 271.69%
  ); /* Used if the image is unavailable */
  height: 400px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.div-glass2 {
  background: linear-gradient(
    242deg,
    var(--primary-900) 5.78%,
    #070707 49.65%,
    var(--primary-500) 271.69%
  ); /* Used if the image is unavailable */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 36px;
  height: 24px;
  background-color: var(--primary-500);
  border-radius: 9999px;
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  background-color: var(--primary-700);
}

.slider::-webkit-slider-thumb:active {
  background-color: var(--primary-600);
  outline: 3px solid var(--primary-200);
  box-shadow: 0px 4px 4.7px 0px #0000002e;
}

.slider::-moz-range-thumb {
  width: 50px;
  outline: 3px solid var(--primary-200);
  height: 50px;
  background-color: #000;
  border-radius: 0;
  cursor: pointer;
}

/* Spinner */
.spinner {
  --spinner-color-1: var(--primary-500);
  --spinner-color-2: var(--primary-200);

  width: 100%;
  height: 100%;
  border-radius: 50%;
  background:
    linear-gradient(
        0deg,
        var(--spinner-color-1) 30%,
        transparent 30% 70%,
        var(--spinner-color-1) 70%
      )
      50% / 8% 100%,
    linear-gradient(
        90deg,
        var(--spinner-color-2) 30%,
        transparent 30% 70%,
        var(--spinner-color-2) 70%
      )
      50% / 100% 8%;
  background-repeat: no-repeat;
  animation: l23 2s infinite steps(12);
  position: relative;
}

.spinner::before,
.spinner::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}

.spinner::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes l23 {
  100% {
    transform: rotate(1turn);
  }
}
