@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* .theme-brand {
      --primary-25: #f5faff;
      --primary-50: #ECF3FE;
      --primary-100: #D9E7FD;
      --primary-200: #B3CEFB;
      --primary-300: #8EB6F8;
      --primary-400: #689DF6;
      --primary-500: #4285F4;
      --primary-600: #356AC3;
      --primary-700: #285092;
      --primary-800: #1A3562;
      --primary-900: #0D1B31;
    } */

    .theme-brand {
      --primary-25: #f5faff;
      --primary-50: #fff8e4;
      --primary-100: #ffecba;
      --primary-200: #ffe08f;
      --primary-300: #ffd665;
      --primary-400: #ffcb4c;
      --primary-500: #ffc342;
      --primary-600: #ffb53d;
      --primary-700: #ffa33a;
      --primary-800: #fd9438;
      --primary-900: #f97835;
    }
    .rdp {
      --rdp-cell-size: 28px;
      --rdp-caption-font-size: 15px;
    }
  }
}

/* .test {
  border: 1px solid red;
} */

.gradientOne {
  background: linear-gradient(242deg,
      #070707 5.78%,
      #4285f4 138.66%,
      #8eb6f8 271.69%);
}

.gradientOne:hover {
  background: linear-gradient(242deg,
      #0d1b31 5.78%,
      #070707 49.65%,
      #4285f4 271.69%);
}

.div-glass {
  /* background-image: url("/assets/image.png"); The image used */
  background: linear-gradient(
    242deg,
    #0d1b31 5.78%,
    #070707 49.65%,
    #4285f4 271.69%
  ); /* Used if the image is unavailable */
  height: 400px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.div-glass2 {
  /* background-image: url("/assets/image2.png"); The image used */
  background: linear-gradient(
    242deg,
    #0d1b31 5.78%,
    #070707 49.65%,
    #4285f4 271.69%
  ); /* Used if the image is unavailable */
  height: 100px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 36px;
  height: 24px;
  background-color: var(--primary-500);
  border-radius: 9999px;
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  background-color: var(--primary-700);
}

.slider::-webkit-slider-thumb:active {
  background-color: var(--primary-500);
  outline: 3px solid var(--primary-200);
  box-shadow: 0px 4px 4.7px 0px #0000002e;
}

.slider::-moz-range-thumb {
  width: 50px;
  outline: 3px solid var(--primary-200);
  height: 50px;
  background-color: #000;
  border-radius: 0;
  cursor: pointer;
}
