@tailwind base;
@tailwind components;
@tailwind utilities;

.test {
  border: 1px solid red;
}

.gradientOne {
  background: linear-gradient(242deg,
      #070707 5.78%,
      #4285f4 138.66%,
      #8eb6f8 271.69%);
}

.gradientOne:hover {
  background: linear-gradient(242deg,
      #0d1b31 5.78%,
      #070707 49.65%,
      #4285f4 271.69%);
}

.div-glass {
  background-image: url("/assets/image.png");
  /* The image used */
  background-color: #cccccc;
  /* Used if the image is unavailable */
  height: 400px;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
}

.div-glass2 {
  background-image: url("/assets/image2.png");
  /* The image used */
  background-color: #cccccc;
  /* Used if the image is unavailable */
  height: 100px;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
}